<div class="quadrado-geral">
  <div class="janela-valor">
    <h1 class="unidade">R$</h1>
    <h1 class="valor">{{ nota }}</h1>
  </div>
  <div class="janela-quantidade">
    <div class="janela-guia-quantidade">
      <h1 class="guia-quantidade">Quantidade</h1>
    </div>
    <div class="janela-indicador-quantidade">
      <button (click)="handleMinus()">-</button>
      <h1 class="indicador-quantidade">{{ quantidade() }}</h1>
      <button (click)="handlePlus()">+</button>
    </div>
  </div>
</div>
